## Environment ##
NODE_ENV=development

## Server ##
PORT=3000
HOST=localhost

# Actions/GraphQL
ACTION_KEY=dev_action_key
GRAPHQL_ENDPOINT=http://hasura:8080/v1/graphql
HASURA_ADMIN_SECRET=dev_admin_secret