## Environment ##
NODE_ENV=development

## Server ##
PORT=3000
HOST=localhost

# Actions/GraphQL
ACTION_KEY=dev_action_key
GRAPHQL_ENDPOINT=http=//hasura=8080/v1/graphql
HASURA_ADMIN_SECRET=dev_admin_secret

## Firebase Env
API_KEY = "AIzaSyAEetyQxSFDqLr1ItAZvGRQgup_O00OipQ",
AUTH_DOMAIN= "rentify-b4321.firebaseapp.com",
PROJECT_ID= "rentify-b4321",
STORAGE_BUCKET= "rentify-b4321.appspot.com",
MESSAGING_SENDER_ID= "696251227274",
APP_ID= "1=696251227274=web=2c49a8404b5ea962a3e173",
MEASURMENT_ID= "G-WC4WDC83VL"